
/* <1-fold SSSSS RESET E NORMALIZZAZIONE SSSSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* </1-fold> EEEEE RESET E NORMALIZZAZIONE EEEEE */


/* ---------------- */
/* ---------------- */
/* ----- HTML ----- */
/* ---------------- */
/* ---------------- */
/* <1-fold SSSSS CONTAINER SSSSS */

/* #2-fold SSSSS region SSSSS */

/* #/2-fold EEEEE endregion EEEEE */

/* </1-fold> EEEEE CONTAINER EEEEE */
