
/* <1-fold SSSSS RESET E NORMALIZZAZIONE SSSSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* </1-fold> EEEEE RESET E NORMALIZZAZIONE EEEEE */


/* ---------------- */
/* ---------------- */
/* ----- HTML ----- */
/* ---------------- */
/* ---------------- */
body {
    font-family: sans-serif;
}

/* <1-fold SSSSS CONTAINER SSSSS */
#icon-container {
    height: 100vh;
    background-color: #96ded1;
    padding: 20px;
    overflow-y: scroll;
    text-align: center;
}
#icon-container::after {
    content: "";
    display: table;
    clear: both;
}

/* #2-fold SSSSS icon-card SSSSS */
.icon-card {
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    float: left;
    margin: 10px;
}
.icon-card i {
    margin: 5px;
}

/* #/2-fold EEEEE icon-card EEEEE */

/* </1-fold> EEEEE CONTAINER EEEEE */
